<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/navbar.ejs') %>
  <main>
    <section id="blog-post">
      <% if (session.admin) { %>
        <div class="section-container" style="min-height: 0rem;">
          <div class="admin-controls">
            <a href="/dashboard/blog/edit/<%= blogData.uri %>">Edit</a>
            <a class="delete-button" style="cursor: pointer;">Delete</a>
          </div>
        </div>
        <script>
          const deleteButton = document.querySelector('.delete-button');
          
          //Delete blog post from database 
          deleteButton.addEventListener('click', () => {
            const confirmDelete = confirm('Are you sure you want to delete this blog post?');
           
            if (confirmDelete === false) {
              return;
            }
   
            fetch('/api/blog/<%= blogData.uri %>', {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json',
              }
            })
            .then((response) => {
              if (response.status === 200) {
                window.location.href = '/blog?deleted=true';
              }
            })
            .catch((error) => {
              console.log(error);
            });
          });
        </script>
      <% } %>
      <div class="section-container">
        <h1 class="post-title"><%= blogData.title %></h1>
        <h3 class="post-subtitle"><%= blogData.subtitle %></h3>
        <h6 id="post-date">
          <%= blogData.createdDate %>
        </h6>
        <div id="blog-body">
          <% blogData.content.blocks.forEach((block) => { %>
            <div class="ce-block__content">
              <% if (block.type === 'header') { %>
                <% if (block.data.level === 3) { %>
                  <h3 class="ce-header"><%= block.data.text %></h3>
                <% } %>
                <% if (block.data.level === 4) { %>
                  <h4 class="ce-header"><%= block.data.text %></h4>
                <% } %>
              <% } %>
              <% if (block.type === 'paragraph') { %>
                <p class="ce-paragraph"><%= block.data.text %></p>
              <% } %>
              <% if (block.type === 'image') { %>
                <div class="image-tool">
                  <img src="<%= block.data.file.url %>" alt="<%= block.data.caption %>" />
                  <p class="image-tool__caption"><%= block.data.caption %></p>
                </div>
              <% } %>
              <% if (block.type === 'quote') { %>
                <p class="cdx-quote__text"><%= block.data.text %></p>
                <p class="cdx-quote__caption"><%= block.data.caption %></p>
              <% } %>
              <% if (block.type === 'list') { %>
                <% if (block.data.style === 'ordered') { %>
                  <ol class="cdx-list">
                    <% block.data.items.forEach((item) => { %>
                      <li class="cdx-list__item"><%= item %></li>
                    <% }); %>
                  </ol>
                <% } %>
                <% if (block.data.style === 'unordered') { %>
                  <ul class="cdx-list">
                    <% block.data.items.forEach((item) => { %>
                      <li class="cdx-list__item"><%= item %></li>
                    <% }); %>
                  </ul>
                <% } %>
              <% } %>
            </div>
          <% }); %>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer-main">
    <div class="container" id="footer-container">
      <section class="footer-links">
        <nav>
          <ul class="footer-nav-menu">
            <li class="footer-nav-item"><a href="/">Home</a></li>
            <li class="footer-nav-item"><a href="/blog?section=all&filter=recipe">Recipes</a></li>
            <li class="footer-nav-item"><a href="/blog">Blog</a></li>
            <li class="footer-nav-item"><a href="#">About</a></li>
          </ul>
        </nav>
      </section>
    </div>
  </footer>
</body>
</html>