<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&700&display=swap" rel="stylesheet">
  <title><%= blogData.title %></title>
  <script type="module" crossorigin src="/main.js"></script>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header>
    <div class="navbar">
      <div class="wrapper">
        <h3 class="nav-text">Ochre & Ivy</h3>
        <div class="nav-text-spacer"></div>
      </div>
      <button type="button" class=""><span class="nav-menu-btn material-symbols-outlined">menu</span></button>
      <nav class="nav-menu hidden">
        <ul class="nav-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="#">Recipes</a></li>
          <li class="nav-item"><a href="#">Blog</a></li>
          <li class="nav-item"><a href="#">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section id="blog-post">
      <div class="container">
        <h1 class="post-title"><%= blogData.title %></h1>
        <h3 class="post-subtitle"><%= blogData.subtitle %></h3>
        <h6 id="post-date">
          <%= blogData.createdDate %>
        </h6>
        <div id="blog-body">
          <% blogData.content.blocks.forEach((block) => { %>
            <div class="ce-block__content">
              <% if (block.type === 'header') { %>
                <% if (block.data.level === 3) { %>
                  <h3 class="ce-header"><%= block.data.text %></h3>
                <% } %>
                <% if (block.data.level === 4) { %>
                  <h4 class="ce-header"><%= block.data.text %></h4>
                <% } %>
              <% } %>
              <% if (block.type === 'paragraph') { %>
                <p class="ce-paragraph"><%= block.data.text %></p>
              <% } %>
              <% if (block.type === 'image') { %>
                <div class="image-tool">
                  <img src="<%= block.data.file.url %>" alt="<%= block.data.caption %>" />
                  <p class="image-tool__caption"><%= block.data.caption %></p>
                </div>
              <% } %>
              <% if (block.type === 'quote') { %>
                <p class="cdx-quote__text"><%= block.data.text %></p>
                <p class="cdx-quote__caption"><%= block.data.caption %></p>
              <% } %>
              <% if (block.type === 'list') { %>
                <% if (block.data.style === 'ordered') { %>
                  <ol class="cdx-list">
                    <% block.data.items.forEach((item) => { %>
                      <li class="cdx-list__item"><%= item %></li>
                    <% }); %>
                  </ol>
                <% } %>
                <% if (block.data.style === 'unordered') { %>
                  <ul class="cdx-list">
                    <% block.data.items.forEach((item) => { %>
                      <li class="cdx-list__item"><%= item %></li>
                    <% }); %>
                  </ul>
                <% } %>
              <% } %>
            </div>
          <% }); %>
        </div>
        <script>
          //Remove br from text
          const imageCaptions = document.querySelectorAll('.image-tool__caption');
          const paragraphText = document.querySelectorAll('.ce-paragraph');
          const quotesText = document.querySelectorAll('.cdx-quote__text');
          const quotesCaption = document.querySelectorAll('.cdx-quote__caption');
          const listItems = document.querySelectorAll('.cdx-list__item');
          
          imageCaptions.forEach((caption) => {
            caption.innerHTML = caption.textContent.replace(/<br>/g, '');
            caption.innerHTML = caption.textContent.replace(/<script>.*<\/script>/g, '');
          });

          paragraphText.forEach((paragraph) => {
            paragraph.innerHTML = paragraph.textContent.replace(/<br>/g, '');
            paragraph.innerHTML = paragraph.textContent.replace(/<script>.*<\/script>/g, '');
          });

          quotesText.forEach((quote) => {
            quote.innerHTML = quote.textContent.replace(/<br>/g, '');
            quote.innerHTML = quote.textContent.replace(/<script>.*<\/script>/g, '');
          });

          quotesCaption.forEach((quote) => {
            quote.innerHTML = quote.textContent.replace(/<br>/g, '');
            quote.innerHTML = quote.textContent.replace(/<script>.*<\/script>/g, '');
          });

          listItems.forEach((listItem) => {
            listItem.innerHTML = listItem.textContent.replace(/<br>/g, '');
            listItem.innerHTML = listItem.textContent.replace(/&nbsp;/g, '');
            listItem.innerHTML = listItem.textContent.replace(/<script>.*<\/script>/g, '');
          });

          // Format date
          const blogCreatedDate = document.getElementById('post-date');
          const blogCreatedDateText = blogCreatedDate.innerText;

          function formatDate(date) {
            var date = new Date(date);
            date.toLocaleDateString('en-GB');
            date = date.toDateString();

            date = date.slice(0, 3) + "," + date.slice(3);
            date = date.slice(0, 11) + "." + date.slice(11);

            return date;
          }

          const date = formatDate(blogCreatedDateText);

          blogCreatedDate.innerText = date;
        </script>
      </div>
    </section>
  </main>
  <footer id="footer-main">
    <div class="container" id="footer-container">
      <section class="footer-links">
        <nav>
          <ul class="footer-nav-menu">
            <li class="footer-nav-item"><a href="#">Home</a></li>
            <li class="footer-nav-item"><a href="#">Recipes</a></li>
            <li class="footer-nav-item"><a href="#">Blog</a></li>
            <li class="footer-nav-item"><a href="#">About</a></li>
          </ul>
        </nav>
      </section>
    </div>
  </footer>
</body>
</html>