<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&700&display=swap" rel="stylesheet">
  <title>Blog | Home</title>
  <script type="module" crossorigin src="/main.js"></script>
  <script type="module" crossorigin src="/blogHome.js"></script>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <%- include('partials/navbar.ejs') %>
  <main>
    <% if (adminData.notification == true) { %>
      <section id="notification">
        <div class="container">
          <div class="wrapper">
            <h6 class="logged-in">Post deleted</h6>
            <span class="check-symbol material-symbols-outlined">delete</span>
          </div>
          <p class="logged-in-notification">Successfully deleted blog post!</p>
        </div>
        <script>
          const url = window.location.href;
          const newUrl = url.replace('?deleted=true', '');
          window.history.replaceState({}, document.title, newUrl);
        </script>
      </section>
    <% } %>
    <section id="blogs-nav">
      <div class="section-container">
          <h1 class="blog-title blog-nav-title">BLOGS</h1>
          <nav class="blogs-home-nav">
            <ul>
              <li><a class="blog-title blog-nav-link blog-nav-all">ALL</a></li>
              <li><a class="blog-title blog-nav-link blog-nav-home active">HOME</a></li>
            </ul>
          </nav>
        </div>
        <div class="blogs-header-bgBox"></div>
    </section>
    <div class="faux-page faux-page-home active">
      <section id="blogs-featured">
        <div class="section-container">
          <% for (i = 0; i < featuredBlogs.length; i++) { %>
            <% const blog = featuredBlogs[i]; %>
            <div class="featured-blog" style="opacity: 0; display: none;">
              <div class="content">
                <div class="wrapper">
                  <h3 class="blog-title-featured"><%= blog.title %></h3>
                  <h6 class="blog-subtitle"><%= blog.subtitle %></h6>
                  <p class="blog-date"><%= blog.createdDate %></p>
                </div>
                <div class="wrapper">
                  <p class="blog-description"><%= blog.description %></p>
                  <a href="/blog/<%= blog.uri %>" class="blog-link">Read more</a>
                </div>
              </div>
              <div class="cover-img">
                <img src='<%- blog.cover %>' alt="<%= blog.title %>" class="blog-image">
              </div>
            </div>
          <% }; %>
          <nav class="featured-nav">
            <ul class="featured-nav-list">
              <li class="featured-nav-item"><a class="featured-blog-link"></a></li>
              <li class="featured-nav-item"><a class="featured-blog-link active"></a></li>
              <li class="featured-nav-item"><a class="featured-blog-link"></a></li>
            </ul>
          </nav>
        </div>
      </section>
      <section id="blogs-recipes-popular">
        <div class="section-container">
          <div class="wrapper">
            <h2 class="title">RECIPES</h2>
            <section id="blogs-recipes">
              <% for (i = 0; i < recipesBlogs.length; i++) { %>
                <% const blog = recipesBlogs[i]; %>
                  <div class="recipe-blog">
                    <div class="cover-img">
                      <img src="<%- blog.cover %>" alt="<%= blog.title %>" class="recipe-image">
                    </div>
                    <div class="content">
                      <div class="wrapper">
                        <h3 class="blog-title"><%= blog.title %></h3>
                        <h6 class="blog-subtitle"><%= blog.subtitle %></h6>
                        <p class="blog-date"><%= blog.createdDate %></p>
                      </div>
                      <div class="wrapper">
                        <p class="recipe-description"><%= blog.description %></p>
                        <a href="/blog/<%= blog.uri %>" class="blog-link">Read more</a>
                      </div>
                    </div>
                  </div>
               <% }; %>
            </section>
          </div>
          <div class="wrapper">
            <h2 class="title">RECENT</h2>
            <section id="blogs-recent">
              <% for (i = 0; i < recentBlogs.length; i++) { %>
                <% const blog = recentBlogs[i]; %>
                  <div class="recent-blog">
                    <div class="content">
                      <div class="wrapper">
                        <div class="group">
                          <div class="container">
                            <div class="blog-title"><%= blog.title %></div>
                            <div class="blog-subtitle"><%= blog.subtitle %></div>
                          </div>
                          <div class="container">
                            <div class="blog-date"><%= blog.createdDate %></div>
                            <a class="recent-blog-btn accent-button button-solid-accent" href="/blog/<%= blog.uri %>"><span class="material-symbols-outlined">chevron_right</span></a>
                          </div>
                        </div>
                        <% if (i != recentBlogs.length - 1) { %>
                          <div class="recent-blog-spacer"></div> 
                        <% } %>
                      </div>
                      <% if (i == 0) { %>
                        <div class="cover-img" style="border-top-right-radius: 0.5rem;">
                      <% } else if (i == recentBlogs.length - 1) { %>
                        <div class="cover-img" style="border-bottom-right-radius: 0.5rem;">
                      <% } else { %>
                        <div class="cover-img">
                      <% }; %>
                          <img src="<%- blog.cover %>" alt="<%= blog.title %>" class="recent-image">
                        </div>
                  </div>
                </div>
               <% }; %>
            </section>
          </div>
        </div>
      </section>
    </div>
    <div class="faux-page faux-page-all" style="display: none">
      <section id="blog-all-toolbar" .container>
        <div class="section-container">
          <div class="wrapper">
            <input type="text" class="search-input" placeholder="Search">
            <span class="material-symbols-outlined search-icon">search</span>
          </div>
          <div class="wrapper">
            <h6 class="filter-title">Filters</h6>
            <div class="group filter-buttons">
              <a class="filter-button all active">All</a>
              <a class="filter-button recipes">Recipes</a>
              <a class="filter-button newest">Newest</a>
              <a class="filter-button oldest">Oldest</a>
              <a class="filter-button az">A-Z</a>
            </div>
          </div>
        </div>
      </section>
      <section id="blogs-all">
        <div class="section-container">
          <% for (i = 0; i < allBlogs.length; i++) { %>
            <% const blog = allBlogs[i]; %>
            <div class="all-blog">
              <div class="cover-img">
                <img src="<%- blog.cover %>" alt="<%= blog.title %>" class="recipe-image">
              </div>
              <div class="content">
                <div class="wrapper">
                  <h3 class="blog-title"><%= blog.title %></h3>
                  <h6 class="blog-subtitle"><%= blog.subtitle %></h6>
                  <p class="blog-date"><%= blog.createdDate %></p>
                </div>
                <div class="wrapper">
                  <p class="all-blog-description"><%= blog.description %></p>
                  <a href="/blog/<%= blog.uri %>" class="blog-link-all accent-button button-solid-accent">Read</a>
                </div>
              </div>
            </div>
          <% }; %>
        </div>
      <section>
    </div>
  </main>
  <footer id="footer-main">
    <div class="container" id="footer-container">
      <section class="footer-links">
        <nav>
          <ul class="footer-nav-menu">
            <li class="footer-nav-item"><a href="/">Home</a></li>
            <li class="footer-nav-item"><a href="#">Recipes</a></li>
            <li class="footer-nav-item"><a href="">Blog</a></li>
            <li class="footer-nav-item"><a href="#">About</a></li>
          </ul>
        </nav>
        <nav>
          <h3>Socials</h3>
          <ul class="footer-socials-menu">
            <li class="footer-socials-item"><a href="instagram.com">Instagram</a></li>
          </ul>
        </nav>
        <form action="post" id="footer-contact-form">
          <h3>Send me a message</h3>
          <input type="text">
          <input type="text">
          <input type="button" value="Send">
        </form>
      </section>
    </div>
  </footer>
</body>
</html>