<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <script type="module" crossorigin src="/dashboard.js"></script>
</head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <% if ( session.notification ) { %>
    <section id="notification">
      <div class="container">
        <div class="wrapper">
          <h6 class="logged-in">Signed in successfully!</h6>
          <span class="check-symbol material-symbols-outlined">done</span>
        </div>
        <p class="logged-in-notification">Welcome back, <%= session.name %>.</p>
      </div>
      <script>
        window.history.replaceState({}, document.title, "/");
      </script>
    </section>
    <% } %>
    <main>
      <section id="link-section">
        <div class="section-container">
          <a class="active dashboard-nav-link">Dashboard</a>
        </div>
      </section>
      <section id="admin-dash-stats">
        <div class="section-container">
          <h1 class="stats-title">Website Statistics</h1>
          <div class="wrapper">
            <div class="container main">
              <div class="stat">
                <h2 class="stat-label">Blog</h2>
                <div class="stat-container">
                  <div class="group">
                    <h3 class="stat-title">Blogs count</h3>
                    <p class="stat-value"><%= siteData.blogCount %></p>
                  </div>
                  <div class="group">
                    <h3 class="stat-title">Recipes count</h3>
                    <p class="stat-value"><%= siteData.recipeCount %></p>
                  </div>
                </div>
              </div>
              <div class="stat">
                <h2 class="stat-label">Views</h2>
                <div class="stat-container">
                  <div class="group">
                    <h3 class="stat-title">Site Hits</h3>
                    <p class="stat-value"><%= siteData.siteHits %></p>
                  </div>
                  <div class="group">
                    <h3 class="stat-title">Blog Views</h33>
                    <p class="stat-value"><%= siteData.blogViews %></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="container most-viewed">
              <div class="stat">
                <h3 class="stat-label">Most viewed posts</h3>
                <div class="group">
                  <nav class="stat-most-viewed">
                    <% if (siteData.mostViewedBlogs.length > 0) { %>
                      <% for (let i = 0; i < siteData.mostViewedBlogs.length; i++) { %>
                      <div class="most-viewed-blog">
                        <h4 class="blog-title"><%= siteData.mostViewedBlogs[i].title %></h4>
                        <div class="wrapper">
                          <span class="material-symbols-outlined visibility-icon">visibility</span>
                          <p class="most-viewed-blog-views"><%= siteData.mostViewedBlogs[i].views %></p>
                        </div>
                        <a class="most-viewed-link" href="/blog/<%= siteData.mostViewedBlogs[i].uri %>">View</a>
                        <a class="most-viewed-link" href="/dashboard/blog/edit/<%= siteData.mostViewedBlogs[i].uri %>">Edit</a>
                        <a class="delete-button most-viewed-link" uri="<%= siteData.mostViewedBlogs[i].uri %>">Delete</a>
                      </div>
                      <% } %>
                    <% } %>
                      <script>
                        const deleteButtons = document.querySelectorAll('.delete-button');
                        
                        deleteButtons.forEach((deleteButton) => {
                          deleteButton.addEventListener('click', () => {
                            const confirmDelete = confirm('Are you sure you want to delete this blog post?');
                          
                            if (confirmDelete === false) {
                              return;
                            }

                            const uri = deleteButton.getAttribute('uri');
                  
                            fetch('/api/blog/' + uri, {
                              method: 'DELETE',
                              headers: {
                                'Content-Type': 'application/json',
                              }
                            })
                            .then((response) => {
                              if (response.status === 200) {
                                window.location.href = '/blog?deleted=true';
                              }
                            })
                            .catch((error) => {
                              console.log(error);
                            });
                          });
                        });
                      </script>
                  </nav>
                </div>
              </div>
            </div>
          </div>
      </section>
      <section id="dash-blog-toolbar">
        <div class="section-container">
          <a href="/dashboard/blog/new" class="blog-admin-button accent-button button-solid-accent">Make a post</a>
        </div>
      </section>
      <section id="blog-all-toolbar">
        <div class="section-container">
          <div class="wrapper">
            <input type="text" class="search-input dashboard" placeholder="Search">
            <span class="material-symbols-outlined search-icon">search</span>
          </div>
          <div class="wrapper">
            <h6 class="filter-title">Filters</h6>
            <div class="group filter-buttons">
              <a class="filter-button all active dashboard">All</a>
              <a class="filter-button recipes dashboard">Recipes</a>
              <a class="filter-button newest dashboard">Newest</a>
              <a class="filter-button oldest dashboard">Oldest</a>
              <a class="filter-button az dashboard">A-Z</a>
            </div>
          </div>
        </div>
      </section>
      <section id="blogs-all">
        <div class="section-container">
          <% for (i = 0; i < allBlogs.length; i++) { %>
            <% const blog = allBlogs[i]; %>
            <div class="all-blog dashboard">
              <div class="cover-img">
                <img src="<%- blog.cover %>" alt="<%= blog.title %>" class="recipe-image">
              </div>
              <div class="content">
                <div class="wrapper">
                  <h3 class="blog-title"><%= blog.title %></h3>
                  <h6 class="blog-subtitle"><%= blog.subtitle %></h6>
                  <p class="blog-tags"><%= blog.tags %></p>
                  <p class="blog-date"><%= blog.createdDate %></p>
                </div>
                <div class="wrapper">
                  <p class="all-blog-description"><%= blog.description %></p>
                  <div class="group">
                    <a href="/blog/<%= blog.uri %>" class="blog-link-all-dash accent-button">View</a>
                    <a href="/dashboard/blog/edit/<%= blog.uri %>" class="blog-link-all-dash accent-button">Edit</a>
                    <a class="blog-link-all-dash accent-button delete-button" uri="<%= blog.uri %>">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          <% }; %>
      </section>
      <section id="blogs-more">
        <div class="section-container">
          <div class="wrapper">
            <a class="more-button accent-button button-outlined-dark" style="display: none;">View More</a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>